<ion-view hide-nav-bar="true">
  <ion-content>

    <!--<div class="loading-screen">-->
    <!--<img class="loader" src="../img/loader.svg"-->
    <!--</div>-->

    <!--<div class="splash-screen">-->
      <!--<img class="splash-screen_logo" src="../img/logo-white.png">-->

      <!--<p class="splash-screen_message">To get started connect to your device via bluetooth</p>-->

      <!--<div ng-if="vm.isOnDevice && !vm.isConnected" class="splash-screen_bluetooth-list list list-inset"-->
           <!--ng-repeat="bluetoothDevice in bluetoothDevices">-->
        <!--<div class="item" ng-click="vm.connect(bluetoothDevice.address)">{{ bluetoothDevice.name }}</div>-->
      <!--</div>-->
    <!--</div>-->

    <div class="dashboard">

      <div class="header">
        <div class="header_bar bar bar-header bar-light">
          <h1 class="title">Air Cloud</h1>
        </div>
        <div class="header_message">
          Air quality
        </div>
        <div class="header_status">
          {{vm.quality.overalQuality}}
        </div>
        <p class="header_description">
          {{vm.quality.message}}
        </p>
      </div>

      <div ng-if="vm.isOnDevice && !vm.isConnected" class="list list-inset"
           ng-repeat="bluetoothDevice in bluetoothDevices">
        <div class="item" ng-click="vm.connect(bluetoothDevice.address)">{{ bluetoothDevice.name }}</div>
      </div>

      <div ng-if="vm.isConnecting">
        Fetching data from device...
      </div>

      <div class="reading" ng-if="vm.initialDataLoaded">
        <div class="reading_item reading_item--voc">
          <span class="reading_name">Volatile organic compounds (VOC)</span>
          <div class="reading_value">{{vm.readings.voc | number: 2}}<span>%</span></div>
          <progress value="{{vm.readings.voc | number: 2}}" max="100"></progress>
        </div>

        <div class="reading_item reading_item--co">
          <span class="reading_name">Carbon monoxide (CO)</span>
          <div class="reading_value">{{vm.readings.co | number: 2}}<span>%</span></div>
          <progress value="{{vm.readings.co | number: 2}}" max="100"></progress>
        </div>

        <div class="reading_item">
          <span class="reading_name">Humidity</span>
          <div class="reading_value">{{vm.readings.humidity | number: 2}}<span>%</span></div>
        </div>

        <div class="reading_item">
          <span class="reading_name">Temperature</span>
          <div class="reading_value">{{vm.readings.temperature | number: 2}}<span>%</span></div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
