<ion-view hide-nav-bar="true">
  <ion-content>

    <!--<div class="loading-screen">-->
    <!--<img class="loader" src="../img/loader.svg"-->
    <!--</div>-->

    <!--<div class="splash-screen">-->
    <!--<img class="splash-screen_logo" src="../img/logo-white.png">-->

    <!--<p class="splash-screen_message">To get started connect to your device via bluetooth</p>-->

    <!--<div class="splash-screen_bluetooth-list list list-inset">-->
    <!--<div class="item">-->
    <!--Raiders of the Lost Ark-->
    <!--</div>-->
    <!--<div class="item">-->
    <!--Raiders of the Lost Ark-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->


    <div class="dashboard">

      <div class="header">
        <div class="header_bar bar bar-header bar-light">
          <h1 class="title">Air Cloud</h1>
        </div>
        <div class="header_message">
          Air quality
        </div>
        <div class="header_status">
          Good
        </div>
        <p class="header_description">
          You are breathing normal & clean air
        </p>
      </div>
    </div>

      <div ng-if="!vm.initialDataLoaded">
        <p>Fetching data from device...</p>
        <img class="loader" src="../img/loader.svg">
      </div>

      <div class="reading" ng-if="vm.initialDataLoaded">
        <div class="reading_item">
          <span class="title">Volatile organic compounds (VOC)</span>
          <div class="value">{{vm.readings.voc | number: 2}}<span>%</span></div>
        </div>

        <div class="reading_item">
          <span class="title">Carbon monoxide (CO)</span>
          <div class="value">{{vm.readings.co | number: 2}}<span>%</span></div>
        </div>

        <div class="reading_item">
          <span class="title">Humidity</span>
          <div class="value">{{vm.readings.humidity | number: 2}}<span>%</span></div>
        </div>

        <div class="reading_item">
          <span class="title">Temperature</span>
          <div class="value">{{vm.readings.temperature | number: 2}}<span>%</span></div>
        </div>
      </div>

  </ion-content>
</ion-view>
