<ion-view hide-nav-bar="true">
  <ion-content>

    <div class="loading-screen" ng-if="!vm.isConnecting">
      <div class="loading_container">
        <img class="loading_spinner" src="./img/loader.svg">
        <span class="loading_message">AirCloud is loading</span>
      </div>
    </div>

    <div class="splash-screen" ng-if="vm.isOnDevice && !vm.isConnected">
      <img class="splash-screen_logo" src="./img/logo-white.png">

      <p class="splash-screen_message">To get started connect to your device via bluetooth</p>

      <div class="splash-screen_bluetooth-list list list-inset">
        <div class="item" ng-click="vm.connect(bluetoothDevice.address)"
             ng-repeat="bluetoothDevice in bluetoothDevices">{{ bluetoothDevice.name }}
        </div>
      </div>
    </div>

    <div ng-hide="!vm.isConnecting || (vm.isOnDevice && !vm.isConnected)">
      <div class="header" ng-class="{'header--good': vm.quality.overalQuality == 'good',
      'header--moderate': vm.quality.overalQuality == 'moderate', 'header--bad': vm.quality.overalQuality == 'bad'}">
        <div class="header_bar bar bar-header">
          <h1 class="title">Air Cloud</h1>
        </div>
        <div class="header_message">
          Air quality
        </div>
        <div class="header_status">
          {{vm.quality.overalQuality}}
        </div>
        <p class="header_description">
          {{vm.quality.message}}
        </p>
      </div>

      <div class="reading" ng-if="vm.initialDataLoaded">
        <div class="reading_item reading_item--voc">
          <span class="reading_name">Volatile organic compounds (VOC)</span>
          <div class="reading_value">{{vm.readings.voc | number: 2}}<span>%</span></div>
          <progress value="{{vm.readings.voc | number: 2}}" max="100"></progress>

          <div class="reading_legend">
            <span class="reading_percentage">0%</span>
            <span class="reading_percentage">20%</span>
            <span class="reading_percentage">60%</span>
            <span class="reading_percentage">100%</span>
          </div>
        </div>

        <div class="reading_item reading_item--co">
          <span class="reading_name">Carbon monoxide (CO)</span>
          <div class="reading_value">{{vm.readings.co | number: 2}}<span>%</span></div>
          <progress value="{{vm.readings.co | number: 2}}" max="100"></progress>
          <div class="reading_legend">
            <span class="reading_percentage">0%</span>
            <span class="reading_percentage">10%</span>
            <span class="reading_percentage">30%</span>
            <span class="reading_percentage">100%</span>
          </div>
        </div>

        <div class="reading_item reading_item--one-line">
          <span class="reading_name">Humidity</span>
          <div class="reading_value">{{vm.readings.humidity | number: 2}}<span>%</span></div>
        </div>

        <div class="reading_item reading_item--one-line">
          <span class="reading_name">Temperature</span>
          <div class="reading_value">{{vm.readings.temperature | number: 2}}<span>°C</span></div>
        </div>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
