@{
    Layout = null;
}

<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/">

    <title>Map | AirCloud</title>

    <link rel="stylesheet" href="Styles/Css/main.min.css">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
</head>
<body>
    <div ui-view></div>

    <script src="Scripts/Dist/vendor.min.js"></script>
    <script src="Scripts/Dist/app.min.js"></script>
</body>
</html>