@{
    Layout = null;
}

<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/">

    <title>Map | AirCloud</title>

    <link rel="stylesheet" href="Styles/Css/main.css">

    <script src="~/Scripts/Vendor/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/Vendor/angular.js"></script>
    <script src="~/Scripts/Vendor/angular-ui-router.min.js"></script>
    <script src="~/Scripts/Vendor/lodash.js"></script>
    <script src="~/Scripts/Vendor/angular-simple-logger.js"></script>
    <script src="~/Scripts/Vendor/angular-google-maps.js"></script>

    <script src="~/Scripts/App/app.module.js"></script>
    <script src="~/Scripts/App/app.config.js"></script>
    <script src="~/Scripts/App/app.states.js"></script>



    <script src="~/Scripts/App/home/home.controller.js"></script>
    <style>
        .angular-google-map-container {
            height: 400px;
        }
    </style>
</head>
<body>
    <div ui-view></div>
</body>
</html>