<ion-view hide-nav-bar="true">
  <ion-content>
    <div class="header_bar bar bar-header">
      <h1 class="title"><img src="././img/logo.png" class="title-img"> Air Cloud</h1>
      <button class="button" ng-click="openIntercomMessagingCenter()">
        <img src="././img/feedback.png">
       </button>
    </div>
    <div class="reading-toggle">
      <div class="button-bar">
        <a class="button button-active">CO</a>
        <a class="button">VOC</a>
      </div>
    </div>
    <div ng-if='internet'>
      <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options" styles="map.styles">
        <ui-gmap-layer show="true" namespace="visualization" type="HeatmapLayer" onCreated="map.heatLayerCallback"></ui-gmap-layer>
      </ui-gmap-google-map>
    </div>
    <div class="map-info">
      <p class="map-info_message">Average global air quality</p>
      <div class="map-reading-wrapper">
        <div class="map-reading">CO
          <strong ng-if='!vm.globalAverages'>8%</strong>
          <strong ng-if='vm.globalAverages'>{{vm.globalAverages.co}}</strong>
        </div>

        <div class="map-reading">VOC
          <strong ng-if='!vm.globalAverages'>30%</strong>
          <strong ng-if='vm.globalAverages'>{{vm.globalAverages.voc}}</strong>
        </div>
      </div>
    </div>

    <div ng-if="!internet">
      <img src="./img/warning.png">
      <p class="warningMessage">Please enable your internet connection to use this feature.</p>
    </div>
  </ion-content>
</ion-view>
