<ion-view hide-nav-bar="true">
  <ion-content>
    <div ng-if='internet'>
        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options" dorebuildall="true" styles="map.styles">
            <ui-gmap-layer show="true" namespace="visualization" type="HeatmapLayer" onCreated="map.heatLayerCallback"></ui-gmap-layer>
        </ui-gmap-google-map>
    </div>
    <div ng-if="!internet">
      <img src="./img/warning.png">
      <p class="warningMessage">Please enable your internet connection to use this feature.</p>
    </div>
  </ion-content>
</ion-view>
